{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}

<div class="min-h-screen bg-gradient-to-r from-[#D6D6D6] to-[#F9EFD4]" id="contain">
    <div>
    {{include('micro_post/_menu.html.twig')}}
    </div>

    <div class="mx-2 md:mx-8 xl:mx-12" id="profil-posts">
    {{include('micro_post/_post_list.html.twig')}}
    </div>
    <div>
    {{include('micro_post/_form_edit.html.twig')}} 
    </div>
    <div class="mt-8 " id="foot">
        {{include('Shared/_footer.html.twig')}}
    </div>
</div>
{% endblock %}