{% extends 'base.html.twig' %}

{% block title %}Edit MicroPost{% endblock %}

{% block body %}
    <h1>Edit MicroPost</h1>

    {{ include('admin_micro_post/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_micro_post_index') }}">back to list</a>

    {{ include('admin_micro_post/_delete_form.html.twig') }}
{% endblock %}
