{% extends 'base.html.twig' %}

{% block title %}Hello TextController!{% endblock %}

{% block body %}
<div class="min-h-screen bg-gradient-to-r from-[#D6D6D6] to-[#F9EFD4]" id="contain">

<div class="mx-10 mt-10" id="profil-posts">
<img src="{{asset('assets/images/logo.png')}}" class="w-24">
<h1 class="font-bold text-xl p-5">About Us</h1>
<h3 class="font-semibold text-l p-3">Introduction to FriendFleet:</h3>
<p>Welcome to FriendFleet, the social media platform dedicated to authentic connection and the discovery of exciting friends. At FriendFleet, our mission is to create a digital space where users can build meaningful and enriching relationships. Whether you're looking to expand your social circle or reconnect 
with old friends, FriendFleet is the ideal place for you.</p>
<h3 class="font-semibold text-l p-3">Registration and Customization:</h3>
<p>Begin your journey by signing up on FriendFleet. Create your own personal space by logging into your account, where you can add, modify, and customize your profile information, including details such as your avatar, profession, and date of birth. 
Make your profile an authentic representation of who you are.</p>
<h3 class="font-semibold text-l p-3">Sharing Moments:</h3>
<p>Once logged in, immerse yourself in the FriendFleet experience by sharing moments 
from your life. Post updates, explore those of other users, and interact with the 
community by leaving comments and expressing your approval with "Likes." You have complete 
control over your interactions, with the ability to edit or delete your comments
 according to your preferences.</p>

<h3 class="font-semibold text-l p-3">Connection and Discovery:</h3>
<p>Explore the profiles of other users to discover people who share your interests.
 Follow fascinating users to stay updated on their updates, and in case a 
 special connection forms, engage further by sending personal private messages.</p>

<h3 class="font-semibold text-l p-3">Complete Profiles:</h3>
<p>Complete profiles on FriendFleet provide a detailed overview of each user.
 Discover information such as date of birth, profession, as well as the complete
  history of each user's posts. Explore follower and following lists to significantly 
  expand your social network.</p>

<p>FriendFleet, more than just a social network, is a dynamic community 
where friendships can flourish, and shared experiences turn into lasting memories. 
<a class="font-bold text-l text-red-500 hover:text-xl hover:underline"href="{{path('app_register')}}">Join us </a>today to create connections that go beyond the virtual realm.</p>
</div>
<div class="mt-8 " id="foot">
    {{include('Shared/_footer.html.twig')}}
</div>
</div>
{% endblock %}
