
.user-nav{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5%;
    z-index: 10;
    background-color: #337F5B;
    color:white;
}
.user-nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}
.img-avatar{
   width: 80px;
    border-radius: 50%;
    border: 2px solid white;
}
.img-menu{
    display: none;
}
.sub-menu-avatar{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 250px;
    max-height:0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 100;
}
.sub-menu-avatar.open-menu{
    max-height: 400px;
}
.sub-menu-info{
    background-color: #337F5B;
    
}

.user-info .hr-ligne{
   border-bottom: 1px solid #00000000;
}

/* ********* Media Queries navbar ************* */
@media only screen and (max-width: 726px){
    .user-nav ul{
        position: absolute;
        width: 100%;
        background-color: rgb(217, 106, 27);
        border-radius: 0 0 0 10px ;
        color: aliceblue;
        left: 0;
        top: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.5s;
        
    }
    .user-nav ul li{
        margin: 10px 10px;
        font-weight: normal;
    }
    .img-menu{
        display: block;
    }
    .imgs-navbar{
        display: flex;
    }
    .user-nav ul.show-menu{
        max-height: 250px;
        background-color: #d7580f;
    }
    
}