body,html{
    margin:0;
    height: 100%;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 300;
}

#contain{
    display: flex;
    flex-direction: column;
}




#profil-posts{
    flex-grow: 1;
}
.pagination a{
    border: 2px solid gray;
    padding: 5px;
}
.pagination .current{
    border: 2px solid red;
    padding: 5px;
    font-weight: bold;
    color: red;
}