{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
    <div class="min-h-screen bg-gradient-to-r from-[#D6D6D6] to-[#F9EFD4]">
        <div>
            {{include('micro_post/_menu.html.twig')}}
        </div>
            <div class="mx-2 md:mx-15 xl:mx-20">
                <div class="flex flex-col mx-6 my-4">
                    {# <h1 class="mb-4">Messages</h1> #}
                    <h1 class="mb-4 font-bold">Send message</h1>
                    {{include('messages/_form.html.twig')}}
                  <div class="flex flex-col md:flex-row xl:flex-row">
                        <button class="w-48 mr-3 text-white bg-[#dfa845] focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 focus:outline-none " type="button" data-drawer-target="drawer-example" data-drawer-show="drawer-example" aria-controls="drawer-example">
                            MailBoxes
                        </button>
                    </div>
                </div>
            </div>
        {{include('messages/_offcanvas.html.twig')}}
    </div>
{% endblock %}