{% extends 'base.html.twig' %}

{% block title %}index page{% endblock %}

{% block body %}
    <section class="bg-gray-50 min-h-screen flex items-center justify-center">
        <!-- login container -->
        <div class="bg-gray-100 flex rounded-2xl shadow-lg max-w-3xl p-5 items-center">
            <!-- form -->
            <div class="md:w-1/2 px-8 md:px-16">
                <h2 class="font-bold text-2xl">Login</h2>
                <p class="text-xs mt-4">If you are already a member, log in</p>
                <form action="{{path('app_login')}}" method="POST" class="flex flex-col gap-4">
                    <input class="p-2 mt-8 rounded-xl border" type="text" name="_username" placeholder="Email" value=" {{ lastUsername }}">
                    <div class="relative">
                        <input class="p-2 rounded-xl border w-full" type="password" name="_password" placeholder="Password">
                    </div>
                    <p><a href="{{path('app_forgot_password_request')}}">Forget Password?</a></p>
                    <input type="hidden" name="_target_path" value="/micro-post" />
                    <button type="submit" class="bg-[#00a7ff] rounded-xl text-white py-2 hover:bg-[#0093ff]">Login</button>
            </form>

            <div class="mt-6 grid grid-cols-3 items-center text-gray-400">
                <hr class="border-gray-400">
                <p class="text-center text-sm">OR</p>
                <hr class="border-gray-400">
            </div>

            <div class="mt-3 text-xs  text-[#002D74]">
                <p>Don't have an account? <a class="cursor-pointer underline">Register Now</a></p>
            </div>
            </div>

            <!-- image -->
            <div class="sm:block hidden w-1/2">
            <img class="rounded-2xl" src="{{asset('assets/images/cover.jpg')}}">
            </div>
        </div>
</section> 

{# <div class="w-full max-w-xs">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Username
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username">
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Password
      </label>
      <input class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************">
      <p class="text-red-500 text-xs italic">Please choose a password.</p>
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
        Sign In
      </button>
      <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="#">
        Forgot Password?
      </a>
    </div>
  </form>
  <p class="text-center text-gray-500 text-xs">
    &copy;2020 Acme Corp. All rights reserved.
  </p>
</div> #}
{% endblock %}
